//colors
$primary-color      : #3B596A;
$secondary-color    : #427676;
$tritory-color      : #ECDB60;
$quad-color         : #A1CD73;


$white              : #ffffff;
$black              : #000000;
$gray               : #bdc3c7;

$danger-color       : #e74c3c;
$warning-color      : #f1c40f;

$border-color       : $gray;


//Typography
$primary-font          : 'Noto Sans', sans-serif;
$secondary-font        : 'Arial', serif;

$font-color            : #444444;


//paths
$img-path              : '../../dist/images';
